
CplusplusGround/.vs/CplusplusGround/v16/.suo
CplusplusGround/.vs/CplusplusGround/v16/Browse.VC.db
CplusplusGround/.vs/CplusplusGround/v16/Browse.VC.db-shm
CplusplusGround/.vs/CplusplusGround/v16/Browse.VC.db-wal
CplusplusGround/.vs/CplusplusGround/v16/Browse.VC.opendb
CplusplusGround/.vs/CplusplusGround/v16/ipch/AutoPCH/240e7151f8bd50a0/INTEGER.ipch
CplusplusGround/.vs/CplusplusGround/v16/ipch/AutoPCH/3d14a8861c7e8268/CAR.ipch
CplusplusGround/.vs/CplusplusGround/v16/ipch/AutoPCH/3e4b6479f3f010d3/CONSTRUCTORDEMO.ipch
CplusplusGround/.vs/CplusplusGround/v16/ipch/AutoPCH/4cf54dfceb0f5b39/CUSTOMLITERALS.ipch
CplusplusGround/.vs/CplusplusGround/v16/ipch/AutoPCH/53ac69395d256945/SOURCE.ipch
*.ipch
CplusplusGround/Debug/vc142.pdb
CplusplusGround/Debug/vc142.idb
CplusplusGround/Debug/VariadicTemplates.obj
CplusplusGround/Debug/PerfectForwarding.obj
*.obj
CplusplusGround/Debug/CplusplusGround.vcxproj.FileListAbsolute.txt
*.tlog
*.pdb
CplusplusGround/Debug/CplusplusGround.log
*.ilk
*.recipe
*.exe
CplusplusGround/Debug/CplusplusGround.Build.CppClean.log
*.user
*.filters
